// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.scss

$primary: #0b3954;
$secondary: #3891a6;
$accent: #e0ff4f;

$dark: #061924;

$positive: #bfe11e;
$negative: #eb3e3b;
$info: #10a7cb;
$warning: #f2c037;

$mepaga-blue-0: #061924;
$mepaga-blue-1: #0b3954;
$mepaga-blue-2: #065b8d;

$mepaga-white-0: #f5f5f5;

$mepaga-green-0: #bfe11e;
$mepaga-green-1: #e0ff4f;
$mepaga-green-2: #ecfe97;

.text-bd-white-0 {
  color: $mepaga-white-0 !important;
}
.bg-bd-white-0 {
  background: $mepaga-white-0 !important;
}
